<footer class="site-footer">
    <div class="wrapper">
      <span class="foot-left">Willnode Blog © 2017
        <a href="{{ site.baseurl }}/{{ page.lang }}/about/">{{ site.author.name }}</a>.
        </span><span class="foot-right">
        {% assign PREV=page.previous %}{% assign NEXT=page.next %}
        {% for i in (1..10) %}
            {% unless PREV %}{% break %}{% endunless %}
            {% if PREV.lang == page.lang %}{% break %}{% else %}{% assign PREV=PREV.previous %}{% endif %}
        {% endfor %}
        {% for i in (1..10) %}
            {% unless NEXT %}{% break %}{% endunless %}
            {% if NEXT.lang == page.lang %}{% break %}{% else %}{% assign NEXT=NEXT.next %}{% endif %}
        {% endfor %}
        {% unless page.lang == "id" %}
            {% if PREV %}<a href="{{ PREV.url | relative_url }}" title="{{ PREV.title | escape }}">Previous</a>.{% endif %}
            {% if NEXT %}<a href="{{ NEXT.url | relative_url }}" title="{{ NEXT.title | escape }}">Next</a>.{% endif %}
            <a href="https://twitter.com/intent/tweet?text=@willnode&tw_p=tweetbutton&url={{ page.url | absolute_url | cgi_escape }}" target="_blank">Tweet this page</a>.
            <a href=https://github.com/willnode/blog/blob/master/{{ page.path }}>Improve this page</a>.
        {% else %}
            {% if PREV %}<a href="{{ PREV.url | relative_url }}" title="{{ PREV.title | escape }}">Sebelumnya</a>.{% endif %}
            {% if NEXT %}<a href="{{ NEXT.url | relative_url }}" title="{{ NEXT.title | escape }}">Selanjutnya</a>.{% endif %}
            <a href="https://twitter.com/intent/tweet?text=@willnode&tw_p=tweetbutton&url={{ page.url | absolute_url | cgi_escape }}" target="_blank">Tweet halaman ini</a>.
            <a href=https://github.com/willnode/blog/blob/master/{{ page.path }}>Perbaiki halaman ini</a>.
        {% endunless %}
      </span>
    </div>
  </footer>
