/**
 * Site header
 */
.site-header {

  // Custom bg
  background: linear-gradient(45deg, white 40%, $grey-color-light 100%);

  border-bottom: 1px solid $grey-color-light;

  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: white;    
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      line-height: 1;
      padding-top: 10px;
      text-align: center;
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background: linear-gradient(180deg, $grey-color-light 0%, #fdfdfd 100%);

}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  display: inline-block;
}


.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  @extend %clearfix;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  // > li {
  //   margin-bottom: $spacing-unit;
  // }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-left: 20px;
  display: inline-block;
  letter-spacing: -0.5px;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  display: inline-block;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  display: inline-block;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.site-slang {
  font-size: $small-font-size;
  color: $grey-color;
  margin-left: 1em;
  display: inline-block;
  line-height: $base-line-height * $base-font-size * 2.25;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


// header anchor links
.header-link {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.1s;
  color: black;
  margin-left: 10px;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 0.2;
  text-decoration: none;
}


