@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$strong-font-weight: 500 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;

$spacing-unit:     40px !default;

$text-color:       #111 !default;
$brand-color:      #07c !default;

$grey-color:       #888 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "base",
  "layout",
  "syntax"
;

.sandbox {
  border: 1px solid black;
  padding: 8px;
  margin: 8px 0px;
  all: initial;
  * {
    all: unset !important;
  }
}
