<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>{{ site.title }}</title>
<id>{{ site.url }}</id>
<icon>/favicon.png</icon>
<updated>{{ site.time | date_to_xmlschema }}</updated>
<summary>{{ page.excerpt }}</summary>
<link href="{{ site.url }}"/>
<link href="{{ page.url | absolute_url }}" rel="self"/>
<author>
  <name>{{ site.author.name }}</name>
  <email>{{ site.author.email }}</email>
  <uri>{{ site.author.uri }}</uri>
</author>
{% for post in site.posts %}{% unless post.hidden==true %}<entry>
  <title>{{ post.title }}</title>
  <link href="{{ post.url | absolute_url }}"/>
  <updated>{{ post.date | date_to_xmlschema }}</updated>
  <id>{{ site.url }}{{ post.id }}</id>
  <summary type="html"><![CDATA[{% include compress.html content=post.content %}]]></summary>
</entry>{% endunless %}{% endfor %}
</feed>