---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{page.title | truncatewords: 1, ""}}</h1>

  {{ content }}

  <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% if post.categories contains page.lang %}
            {% unless post.hidden==true %}
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <h2 class="post-link">
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h2>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <p class="post-short">{{ post.excerpt | strip_html }}…</p>
            {% endunless %}
          {% endif %}
        </li>
      {% endfor %}
</ul>
</div>
